@media screen and (min-width: 768px) {
  :root {
    --primary-color: #1034a6;
    --bg-color: #f8f9fa;
    --text-on-dark: #ffffff;
    --accent-color: #d4af37;
    --text-on-light: #212529;

    --font-weight-h: 600;

    --font-family: "Montserrat", sans-serif;
  }
  .hamburguer-logo {
    display: none;
  }

  .menu {
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .menu > li {
    padding-bottom: 0;
    height: 100%;
    line-height: 2;
  }

  .menu-li:hover {
    background: var(--accent-color);
  }

  .menu-link {
    border-bottom: none;
    padding: 5px;
  }

  h2 {
    margin: 0;
  }

  .sections-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .about-section {
    grid-column: 1/3;
    background: #5568a5;
  }

  .about-section > p {
    padding: 10px;
  }

  .photo-section {
    background: #5568a5;
  }

  .profile-container {
    margin-top: 5px;
  }

  .courses-section {
    grid-column: 1/4;
  }

  .courses {
    margin-top: 10px;
  }

  .courses-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 40px;
  }

  .footer-icons-container {
    width: 20%;
  }

  .footer-icon {
    width: 2.5rem;
  }
}
